<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li class="active"> <a  href="#tab1" data-toggle="tab">New</a> </li>
        <li><a href="#tab2" data-toggle="tab">Name</a> </li>
        <li><a href="#tab3" data-toggle="tab">Popular</a> </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <form class="navbar-form mb15">
            <input type="text" class="form-control" placeholder="search bounties...">
          </form>
          <div class="row">
          <% @new_users.each do |user| %>
            <div class="col-sm-3">
              <div class="bounty-user">
                <div class="row">
                  <div class="col-sm-3">
                    <div><%= image_tag "user_image.png", size: "44x44", alt: "" %></div>
                  </div>
                  <div class="col-sm-9">
                    <div class="user-detail">
                      <h3><a href="<%= user_path(user) %>"><%= user.first_name + " " + user.last_name%></a></h3>
                      <span>Baltimore, MD, United
                      States</span></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="user-more-detail">
                      <p>working on <%= user.working_on_bounties.count %> bounties</p>
                      <p> <%= user.bounties.count %> bounties posted</p>
                      <p> <%= user.solved_bounties.count %> resolution</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="tab2">
          <form class="navbar-form mb15">
            <input type="text" class="form-control" placeholder="search bounties...">
          </form>
          <div class="row">
            <% @by_name_users.each do |user| %>
            <div class="col-sm-3">
              <div class="bounty-user">
                <div class="row">
                  <div class="col-sm-3">
                    <div><%= image_tag "bounty_logo.png", size: "44x44", alt: "" %></div>
                  </div>
                  <div class="col-sm-9">
                    <div class="user-detail">
                      <h3><a href="<%= user_path(user) %>"><%= user.first_name + " " + user.last_name%></a></h3>
                      <span>Baltimore, MD, United
                      States</span></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="user-more-detail">
                      <p>working on <%= user.working_on_bounties.count %> bounties</p>
                      <p> <%= user.bounties.count %> bounties posted</p>
                      <p> <%= user.solved_bounties.count %> resolution</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="tab3">
          <form class="navbar-form mb15">
            <input type="text" class="form-control" placeholder="search bounties...">
          </form>
          <div class="row">
          	<% @popular_users.each do |user| %>
            <div class="col-sm-3">
              <div class="bounty-user">
                <div class="row">
                  <div class="col-sm-3">
                    <div><%= image_tag "bounty_logo.png", size: "44x44", alt: "" %></div>
                  </div>
                  <div class="col-sm-9">
                    <div class="user-detail">
                      <h3><a href="<%= user_path(user) %>"><%= user.first_name + " " + user.last_name%></a></h3>
                      <span>Baltimore, MD, United
                      States</span></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="user-more-detail">
                      <p>working on <%= user.working_on_bounties.count %> bounties</p>
                      <p> <%= user.bounties.count %> bounties posted</p>
                      <p> <%= user.solved_bounties.count %> resolution</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>