<div class="container">
  <div class="signinpanel">
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                    <h4 class="nomargin">Password reset</h4>
                    <p class="mt5 mb20">Please fill in your Email so we can send you a reset password email</p>
				    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
				     <small>
                      <%= link_to "Go back to login", new_user_session_path %>
                    </small>
                    <br>
                    <!-- display errors -->
                    <% if @user.errors.any? %>
                      <% @user.errors.full_messages.each do |message| %>
                        <div class="alert alert-danger mtb20" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          <%= message %>
                        </div>
                      <% end %>
                    <% end %>

                    <%= f.submit "Send", class: "btn-register mtb20" %>
                <% end %>
            </div><!-- col-sm-5 -->
            
        </div><!-- row -->
    </div>
</div>