<div class="open-bounties-list">
	            <div class="open-bounties-header"> <%= link_to bounty_path(bounty.id) do%><span class="open-bounties-views"><i><%= image_tag("eye.png") %></i> <%= bounty.views.count %></span> <span class="open-bounties-price">$<%= bounty.price.floor %></span>
	                <h3><%= bounty.title %></h3><% end %>
	              </div>
	              <div class="clearfix"></div>
	              <div class="open-bounties-list-desc">
	                <div class="row">
	                  <div class="col-md-6">
	                    <div class="open-bounties-desc"><%= bounty.working_users.count%> users working - by <span><%= bounty.poster.email %></span> - <%= time_ago_in_words(bounty.created_at) %> ago</div>
	                  </div>
	                  <div class="col-md-6">
	                    <div class="open-bounties-tags"> <a href="#">javascript</a> <a href="#">html</a> <a href="#">css</a> <a href="#">html5</a> </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <hr>