

<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<div class="left-side">

				<ul class="nav nav-tabs nav-justified">
					<li class="active"> <a  href="#tab1" data-toggle="tab">Open Bounties</a> </li>
					<li><a href="#tab2" data-toggle="tab">Resolved Bounties</a> </li>
					<% if user_signed_in? %>
						<li><a href="#tab3" data-toggle="tab">My Bounties</a> </li>
					<% end %>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active fade in" id="tab1">
						<%= render "bounties/advanced_search" %>
						<%= render "bounties/preview_list",bounty_list: @open_bounties, total_bounty_list_count: @open_bounties_count %>
					</div>

					<div class="tab-pane fade" id="tab2">
			            <form class="navbar-form">
			              <input type="text" class="form-control" placeholder="search bounties...">
			              <a href="#">advanced search</a>
			            </form>
						<%= render "bounties/preview_list",bounty_list: @resolved_bounties, total_bounty_list_count: @resolved_bounties_count %>
					</div>

					<% if @signed_in_user %>
					<div class="tab-pane fade" id="tab3">
						<%= render "bounties/preview_list",bounty_list: @my_bounties, total_bounty_list_count: @my_bounties_count %>
					</div>
					<% end %>

				</div>
			</div>
		</div>
		<%= render "bounties/highest_bounties"%>
	</div>
</div>