<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="left-body">
        <h2 class="mt0"><span>$<%= @bounty.price %></span> <%= @bounty.title %></h2>
        <div class="bounty-nav">
          <ul class="nav">
            <li class="bounty-state"><%= @bounty.status.upcase %></li>
            <li><a href="#"><%= image_tag "sm-eye-icon.png" %> <%= @bounty.views.count %> views </a></li>
          </ul>
          <% if @user_role == :hunter and @bounty.open? %>
            <%= link_to "Work on this Bounty", add_working_user_bounty_path(@bounty.id), :class => "btn btn-simple pull-right", id: "work_on_bounty", remote: true%>
          <% end %>
        </div>
        <div class="body-contant">
          <%= markdown(@bounty.description) %>
        </div>
        
        <div class="post-header">
          <div class="row">
            <div class="user-info">
              <div class="col-sm-6">
                <div class="user-image"> <a href="<%=user_path(@bounty.poster)%>"> <%= image_tag "user-image.jpg", alt: "Image" %> by <span> <%= @bounty.poster.first_name + " " + @bounty.poster.last_name %> </span> </a> <span> - </span> <span> 1 hour ago</span> </div>
              </div>
              <div class="col-sm-6">
                <div class="comment-nav">
                  <ul class="nav pull-right">
                    <% @bounty.tags.each do |tag|%>
                      <li> <%= tag.name %> </li>
                    <% end %>
                  </ul>
                </div>
                <div class="edit-nav">
                  <ul class="nav pull-right">
                    <li>
                        <a href="#" data-toggle="dropdown">
                          <%= image_tag "share-icon.png" %> share
                        </a>
                        <ul class="dropdown-menu share-button">
                            <li>
                              <a data-original-title="Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
                            <i class="fa fa-twitter"></i>
                          </a>
                          </li>
                          <li>
                            <a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
                            <i class="fa fa-facebook"></i>
                          </a>
                          </li>         
                          <li>
                            <a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
                            <i class="fa fa-google-plus"></i>
                          </a>
                          </li>
                            <li>
                            <a data-original-title="LinkedIn" rel="tooltip"  href="#" class="btn btn-linkedin" data-placement="left">
                            <i class="fa fa-linkedin"></i>
                          </a>
                          </li>
                          <li>
                            <a data-original-title="Pinterest" rel="tooltip"  class="btn btn-pinterest" data-placement="left">
                            <i class="fa fa-pinterest"></i>
                          </a>
                          </li>
                                    <li>
                            <a  data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                            <i class="fa fa-envelope"></i>
                          </a>
                          </li>
                                </ul>



                    </li>
                      
                    <li><a href="#"><%= image_tag "edit-icon.png" %> edit</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>



        <div>
          <% if @bounty.status == "open" and (@user_role == :hunter or @user_role == :working)%>
              <%= render 'answers/new_answer', {bounty_id: @bounty.id} %>

          <% elsif @bounty.status == "pending" %>
          
          <%= render 'answers/pending_answer', {text: @bounty.pending_answer, role: @user_role} %>

          <% elsif @bounty.status == "closed" %>
          <%= render 'answers/approved_answer', {text: @bounty.approved_answer} %>

          <% elsif  @user_role == :denied %>
            <%= render 'answers/denied_answer', {bounty_id: @bounty.id, bounty_hunter: @bounty_hunter_relation_object } %>
          <% end %> 


          <% unless @bounty.status == "closed" %>
          <div class="user-bounty" style="margin-top:15px">
            <h3><%= @working_bounty_hunters.count %> Users working on this bounty</h3>
          </div>

          <div class="commtent-panel">
            <% @working_bounty_hunters.each do |bounty_hunter| %>
            <div class="user-info user-comment">
              <div class="user-image"> <a href="#"> <%= image_tag "user-image-3.jpg", alt: "Image" %> by <span> <%= bounty_hunter.hunter.email %> </span> </a> <span> - </span> <span>working for about <%= time_ago_in_words(bounty_hunter.started_working_at)%></span><a href="#"  class="start-chat"><span>Start a chat</span></a>
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
      
      </div>
      <div class="clr"></div>
    </div>
    <%= render 'bounties/highest_bounties' %>
  </div>
</div>

<div class="modal fade" id="share" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">
        Share
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><%= image_tag "sm-crose-icon.png" %></button>
      </div>
      <div class="modal-body">
        <a class="btn btn-block btn-social btn-lg btn-facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>