<div class="container">
  <div class="row mt40">
    <div class="col-sm-8">
      <div class="left-body">
        <h2><span>$<%= @bounty.price %></span> <%= @bounty.title %></h2>
        <div class="bounty-nav">
          <ul class="nav">
            <li class="active"><a href="#"> <%= @bounty.status.upcase %> </a></li>
            <li><a href="#"><%= image_tag "sm-eye-icon.png" %> <%= @bounty.views.count %> views </a></li>
          </ul>
          <% if @user_role == :hunter and @bounty.open? %>
            <%= link_to "Work on this Bounty", add_working_user_bounty_path(@bounty.id), :class => "btn btn-simple pull-right"%>
          <% end %>
        </div>
        <div class="body-contant">
          <%= render "partials/code_view", text: @bounty.description %>
        </div>
        
        <p class="mb30">Has anyone faced this problem before? How do I fix this?</p>
        <div class="post-header">
          <div class="row">
            <div class="user-info">
              <div class="col-sm-6">
                <div class="user-image"> <a href="#"> <%= image_tag "user-image.jpg", alt: "Image" %> by <span> Hank </span> </a> <span> - </span> <span> 1 hour ago</span> </div>
              </div>
              <div class="col-sm-6">
                <div class="comment-nav">
                  <ul class="nav pull-right">
                    <li><a href="#">javascript </a></li>
                    <li><a href="#"> css</a></li>
                    <li><a href="#">html5 </a></li>
                  </ul>
                </div>
                <div class="edit-nav">
                  <ul class="nav pull-right">
                    <li><a href="#"><%= image_tag "share-icon.png" %> share </a></li>
                    <li><a href="#"><%= image_tag "edit-icon.png" %> edit</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="post-body">
          <h3><%= image_tag "comment-icon.png" %> Resolution is <span>REJECTED</span></h3>
          <p>Parse has great PHP docs that can help here. Because you are using a custom push notification handler in Android, the default Push code won't likely work for you. </p>
          <p> One of the things to look at is the Parse Query to the "_Installation" object. </p>
          <p> Your code would be:</p>
          <div class="danger-box"> <code> $query = new ParseQuery("_Installation"); // or try ParseInstallation()?</code> <code>$query->equalTo("objectId", $yourObjectId);</code> <code>$result = $query->first();</code> <code>if ($result->get("deviceType") == "android") {</code> <code class="ml8"> // we are Android</code> <code> } else {</code> <code class="ml8"> // we are iOS</code> <code> } </code> </div>
          <p> It would help to know what other data you have on the Installation prior to the push. If you have objectId, that makes this code work. If you have an array of channels, you'll need to select users in those channels, and then foreach over the array, grab the objectId, and make a query that way. </p>
          <p> Happy to explain if you leave a comment letting me know one way or the other. </p>
          <div class="comments-header">
            <div class="row">
              <div class="user-info">
                <div class="col-sm-6">
                  <div class="user-image"> <a href="#"> <%= image_tag "user-image-2.jpg", alt: "Image" %> by <span>Tom Morgan </span> </a> <span> - </span> <span> 34 mins ago copy</span> </div>
                </div>
                <div class="col-sm-6 mt10">
                  <div class="edit-nav mb0">
                    <ul class="nav pull-right">
                      <li><a href="#"><%= image_tag "share-icon.png" %> share </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="rejection-panel">
          <h3><%= image_tag "error-icon.png" %> Reason for <span>REJECTION</span></h3>
          <p>This sulution was tried and it did not worked.  It gave an error that mess up everything else. I don’t think this was the right approach to my problem. Sorry, but I will wait for another solution.</p>
          <a href="#" class="btn btn-red"> DISPUTE </a> </div>
        <div class="user-bounty">
          <h3><%= @working_bounty_hunters.count %> Users working on this bounty</h3>
        </div>
        <div class="commtent-panel">
          <% @working_bounty_hunters.each do |bounty_hunter| %>
            <div class="user-info user-comment">
              <div class="user-image"> <a href="#"> <%= image_tag "user-image-3.jpg", alt: "Image" %> by <span> <%= bounty_hunter.hunter.email %> </span> </a> <span> - </span> <span>working for <%=time_differance_string(Time.now - bounty_hunter.started_working_at)%></span><a href="#"  class="start-chat"><span>Start a chat</span></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="clr"></div>
    </div>
    <%= render 'bounties/highest_bounties' %>
  </div>
</div>