<div class="post-body">
  <h3><%= image_tag "comment-icon.png" %>
  <% if @user_role == :pending %>
  	You're resolution is
  <% else %>
  	Resolution is
  <% end %>
  <span>PENDING</span></h3>
  <%= markdown(@bounty.pending_answer.description) %>
  <div class="comments-header">
	<div class="row">
	  <div class="user-info">
	    <div class="col-sm-6">
	      <div class="user-image"> <a href="#">by <span><%= @bounty.pending_answer.hunter %> </span> </a> <span> - </span> <span> 34 mins ago copy</span> </div>
	    </div>
	    <div class="col-sm-6 mt10">
	      <div class="edit-nav mb0">
	        <ul class="nav pull-right">
	          <% if @user_role == :poster %>
		          <li class="accept"><%= link_to (image_tag("green-tick.jpg") + "Accepeted"), approve_answer_path(@bounty.pending_answer) , method: :put %></li>
		          <li class="reject"> <a href="#myModal" role="button" class="btn" data-toggle="modal"> <%= image_tag "crose-icon.png" %> Rejected </a> </li>
	          <% end %>
	          <li><a href="#"><%= image_tag "share-icon.png" %> share </a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div>
  </div>
</div>
<% if @user_role == :poster %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h3 class="modal-title" id="myModalLabel">Reason for Rejection
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><%= image_tag "sm-crose-icon.png" %></button>
        
         
      </div>
      <%= form_tag(deny_answer_path(@bounty.pending_answer), method: "put") do %>
      <div class="modal-body">
        <%= text_area_tag(:denial_reason, "", style: "width:100%;height:100px;") %>
        <%= hidden_field(:id, @bounty.pending_answer) %>
      </div>
      <div class="modal-footer">
        <%= submit_tag("REJECT", class: "btn btn-default pull-left rejection") %>
      </div>
      <% end %>

      
      
      
      
    </div>
  </div>
</div>
<% end %>