<div class="modal fade" id="myModal1" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">s
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">
        Withdraw money from your account
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><%= image_tag "sm-crose-icon.png" %></button>
      </div>
      <% @withdrawal = Withdrawal.new %>
      <%= form_for @withdrawal, :url =>{:action=>'create', :controller=>"transfer/withdrawals"} do |w| %>
      <div class="modal-body"รฐ>
        <div class="custom-popover-body">
          <p><h5>Set Amount</h5></p>
                    <span class="col-xs-4">

          <%= w.text_field :amount, :class => "form-control", :id => "amount", :required => true, style: "height: 25px;"%>
        </span>
          <label for="spinner">USD</label>
          <p class="total-balance">Total Balance: <span>$<%= @user.balance %></span></p>
          <div class="line"></div><br>
         <p><h5>Paypal Email:</h5></p>
          <div class="col-xs-6">
            <%= w.text_field :email, :class => "form-control input-sm", :id => "email", :required => true, value: @user.email%>
          </div>
          <p>We charge a 10% fee, as well as any paypal fee (approximately 3-4%)</p>
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag("Withdraw MONEY", type: 'submit', class: "btn btn-default pull-left rejection", id: 'withdraw-money-submit') %>
      </div>
      <% end %>
    </div>
  </div>
</div>