<div class="modal fade" id="myModal1" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">s
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">
        Withdraw money from your account
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><%= image_tag "sm-crose-icon.png" %></button>
      </div>
      <% @withdrawal = Withdrawal.new %>
      <%= form_for @withdrawal, :url =>{:action=>'create', :controller=>"transfer/withdrawals"} do |w| %>
      <div class="modal-body"รฐ>
        <div class="custom-popover-body">
          <p>Set Amount</p>
          <%= w.text_field :amount, :class => "spinner", :id => "amount", :required => true%>
          <label for="spinner">USD</label>
          <p class="total-balance">Total Balance: <span>$<%= @user.balance %></span></p>
          <div class="line"></div>
          <h4>Payment will be needed to <%= current_user.email %></h4>
          
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag("Withdraw MONEY", type: 'submit', class: "btn btn-default pull-left rejection", id: 'withdraw-money-submit') %>
      </div>
      <% end %>
    </div>
  </div>
</div>