<header>
  <div class="container">
    <div class="logo"> <a href="#"><%= image_tag "logo.jpg", alt: "" %></a> </div>
    <div class="right-content after-sign-in">
      <ul>
        
        <li>
          <button class="btn btn-default" onclick="location.href='<%= new_user_session_path %>'" type="button">Sign in </button>
          
          <!--<div class="dropdown-menu sign-up" role="menu" aria-labelledby="menu1">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="name">Name</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label class="control-label" for="email">E-mail</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label class="control-label" for="cpwd">Password</label>
                <input type="password" class="form-control" id="cpwd">
              </div>
              <div class="form-group">
                <label class="control-label" for="pwd">Confirm Password</label>
                <input type="password" class="form-control" id="cpwd">
              </div>
              <button class="btn-register">Register</button>
              <button class="btn-facebook"> Register with Facebook</button>
              <button class="btn-google-plus"> Register with Google+</button>
              <p>By registering, you agree to the <a href="#">privacy policy and terms of service.</a></p>
            </form>
          </div>-->
        </li>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
</header>
<div class="jumbotron">
  <h2>Find a quick solution of a problem or</h2>
  <h3>solve it for a prize</h3>
  <span><%= image_tag "sign.png", alt: "" %></span>
  <h4>/* From developers for developers. */</h4>
</div>
<div class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="works-heading">How it <span>Works</span></h2>
        <div class="how-it-work-wrapper">
          <div class="first-line"><%= image_tag "first-line.png", alt: "" %></div>
          <div class="sec-line"><%= image_tag "sec-line.png", alt: "" %></div>
          <div class="how-it-work-inn first"> <%= image_tag "how-it-work-1.png", alt: "" %>
            <h3>Create a Bounty</h3>
            <span>if you need help</span> </div>
          <div class="how-it-work-inn"> <%= image_tag "how-it-work-2.png", alt: "" %>
            <h3>You are a <br>
              Developer</h3>
          </div>
          <div class="how-it-work-inn first"> <%= image_tag "how-it-work-3.png", alt: "" %>
            <h3>Solve a Bounty</h3>
            <span>if you need money</span> </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default inn-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Bounties</a></li>
        <li><a href="#">Tags</a></li>
        <li><a href="#">Users</a></li>
      </ul>
    </div>
    <!--/.nav-collapse --> 
  </div>
</nav>