<header>
  <% if !flash[:error].nil? %>
    <div id="flash-error" style="width: 100%; height:50px; background-color:#B00000; text-align:center; line-height: 50px; color:white;font-family: Comic Sans MS;font-size: 17px;">
      <%= flash[:error] %>
      <button style="font-size:40px;margin-top:5px;" type="button" id="close-error" class="close" onclick="$(&quot;#example&quot;).popover(&quot;hide&quot;);">&times;</button>

    </div>
    <script type="text/javascript">
    fadeError(6000);
    </script>
  <% end %>

  <div class="container">
    <div class="logo"> <a href="<%= root_url %>"><%= image_tag "logo.jpg", alt: "" %></a> </div>
    <div class="right-content after-sign-in">
      <ul>
        
        <li>
          <button class="btn btn-default" onclick="location.href='<%= new_user_session_path %>'" type="button">Sign in </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
  <div class="modal fade" id="explanation_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pRMpf4eCTTY" frameborder="0" allowfullscreen></iframe>
        <h4>
        <b>Bounty</b> is a website that allows you to ask programming questions, and put a monetary incentive on it, quickly and easily. After posting a bounty (question), any developer can come solve it to get the money. <br/><br/>
      </h4>
        <h5>
        <b>What's the difference between this and stack overflow?</b><br/><br/>
        Stack overflow is great, every developer uses it. But sometimes, we need answers very quickly, or a snippet of code. On stack overflow, there's no quick way to create a <b>correlation between how much you need an answer and how quickly you'll get it</b>. Bounty lets you do exactly that, easily and efficiently, with a great ux. <br/><br/>

        <b>What's the flow of asking a bounty?</b><br/><br/>
        <b>1.</b> Someone, anyone, has a hard programming question. He posts the question on our site, and puts money on it through paypal, quick and easy.</br>
        <b>2.</b> Any developer comes and offers a solution the problem (he's called the <b>hunter</b>). The second you post a solution the bounty is "locked". People can still see it, but can't offer a solution themselves.</br>
        <b>3.</b> The poster of the bounty either accepts the given solution, or rejects it. Once rejected, the bounty is once again open to anyone to offer a solution. If the bounty hunter feels this was unfair, he can dispute. We're all ears, but keep in mind that answering a bounty does not guarantee getting the money; although we'll definitely help you as much as possible.</br></br>

        <b>If I don't get any answers/good answers to my bounty, can I get my money back?</b></br><br/>
        Once you post your bounty, you can't get your money back. We do this so that posters won't reject answers just to get their money back.</br></br>

        Got any questions? Be sure to contact us at <%= mail_to "support@bountyc.com" %>!</br>
        Can't wait to see you on our site!

      </h5>
      </div>
      
    </div>
  </div>
</div>
</header>
<div class="jumbotron">
  <h2>Post a hard coding problem with a monetary incentive</h2>
  <h3>Solve a coding problem for money</h3>
  <span><%= image_tag "sign.png", alt: "" %></span>
  <h4>/* Quick answers. Quick money. Bounty */</h4>
  <h4 style="width:20%; margin: auto; padding-top:20px; padding-bottom:-10px;"><button class="btn-google-plus" data-toggle="modal" data-target="#explanation_modal">How It Works</button></h4>
</div>
 
<!--<div class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="works-heading">How it <span>Works</span></h2>
        <div class="how-it-work-wrapper">
          <div class="first-line"><%= image_tag "first-line.png", alt: "" %></div>
          <div class="sec-line"><%= image_tag "sec-line.png", alt: "" %></div>
          <div class="how-it-work-inn first"> <%= image_tag "how-it-work-1.png", alt: "" %>
            <h3>Create a Bounty</h3>
            <span>if you need help</span> </div>
          <div class="how-it-work-inn"> <%= image_tag "how-it-work-2.png", alt: "" %>
            <h3>You are a <br>
              Developer</h3>
          </div>
          <div class="how-it-work-inn first"> <%= image_tag "how-it-work-3.png", alt: "" %>
            <h3>Solve a Bounty</h3>
            <span>if you need money</span> </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<nav class="navbar navbar-default inn-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Bounties", bounties_path %></li>
      <!--  <li><a href="#">Tags</a></li> -->
        <li><%= link_to "Users", users_path %></li>
      </ul>
    </div>
    <!--/.nav-collapse --> 
  </div>
</nav>