<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
  	<title>Bounty</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
	<%= javascript_include_tag 'application', 'showdown' => true, 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <script type="text/javascript">
    var pusher = new Pusher("<%= PUSHER_KEY %>");
    var userChannel = pusher.subscribe("private-user-<%= current_user.id %>");
    userChannel.bind('new-notification', function(message) {
    var count_notifications = parseInt($("#notifications-count").text())+1;
      $("#notifications-count").html(count_notifications);

    });
    </script>

  <%= render "layouts/header" %>
<% else %>
  <%= render "layouts/logged_out_main_header" %>
<% end %>
<%= yield %>

<!-- /container -->
<!--<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4"> <a class="btn btn-default footer-btn" href="#" role="button">Creat a Bounty</a> </div>
      <div class="col-sm-8">
        <div class="pull-right mt9"> <a href="#"><%= image_tag("footer-log.jpg")%></a> © 2015    -    All rights reserved. </div>
      </div>
    </div>
  </div>
</footer>  -->
<!-- Placed at the end of the document so the pages load faster --> 
<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
</body>
</html>
