<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="Post a hard coding problem with a monetary incentive. Solve a coding problem for money">
  <meta name="keywords" content="coding, development, problems, how do i, get money, freelance jobs, programming jobs, html, javascript, python, ruby on rails">
  <meta name="title" content="Bounty Coding">
  <meta name="author" content="">
  <link rel="image_src" href="<%= image_path("code_logo") %>" />

	<link rel="icon" href="../../favicon.ico">
  	<title>Bountyc</title>
  <%= Gon::Base.render_data %>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

  <% if not user_signed_in? %>
    <link rel="stylesheet" href="//releases.flowplayer.org/6.0.4/skin/minimalist.css" >
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//releases.flowplayer.org/6.0.4/flowplayer.min.js"></script>
  <% end %>

	<%= javascript_include_tag 'application', 'showdown' => true, 'data-turbolinks-track' => true %>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1667838356834923');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1667838356834923&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68142582-1', 'auto');
  ga('send', 'pageview');

</script>
  
  <% if user_signed_in? and current_user.sign_in_count == 1 %>
    <%= render "users/add_tags_user" %>
    <script>
      $( document ).ready(function() {
        $('#user-tags-modal').modal('show');
      });
    </script>
  <% end %>
</head>
<body>
<%= render "layouts/notice" %>
<% if user_signed_in? %>
  <%= render "layouts/header" %>
    <script type="text/javascript">
    var pusher = new Pusher("<%= PUSHER_KEY %>");
    var userChannel = pusher.subscribe("private-user-<%= current_user.id %>");
    userChannel.bind('new-notification', function(message) {
      var count_notifications = parseInt($("#notifications-count").text())+1;
      $("#notifications-count").html(count_notifications);
      if (!$("#notifications-count").is(":visible"))
      {
        $("#notifications-count").show("slow")
      }
      $("#notifications").prepend(message);
    });
    $(document).ready(function() {
      $( "#dLabel" ).click(function() {
        // make ajax request to server to notify that notifications where viewed
        $.ajax({
          type: "POST",
          url: '<%= see_notifications_path %>',
          data: { _method:'PUT' },
          success: function(msg) {
            $( "#notifications-count" ).hide();
            // reset notifications count
            $("#notifications-count").html("0")
          }
        });

      });
    });
    </script>
<% else %>
  <%= render "layouts/logged_out_homepage_header" %>
<% end %>
<%= yield %>

<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
</body>
</html>
